.sign-form
  max-width 40%

.form-control
  display block
  outline none
  padding 5px 8px
  border 1px solid #ccc
  border-radius 2px
  &:focus
    box-shadow 0 0 0 3px rgba(48,144,228,.1)

.form-group
  margin-bottom 15px
  label
    margin-bottom 5px
    display inline-block
    max-width 100%
