header.header
  clearfix()
  text-height 60px
  background-color #f9f9f9
  border-bottom 1px solid #f0f0f0
  h1.sitename
    font-size 20px
    float left
  nav.header-right-nav
    float right
    ul
      margin 0
      list-style none
      li
        float left
      li+li
        margin-left 20px
