@import 'nib'
@import './styl/normalize'
@import './styl/mixins'
@import './styl/reset'
@import './styl/header'
@import './styl/btn'
@import './styl/form'

.container
  max-width 960px
  margin 0 auto
  padding 0 10px

.main
  padding 30px 10px
